@{
    ViewBag.Title = "Having issues with our system?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-8">
        <address>
            VIA University College<br />
            Chr M Østergaards Vej 4, 8700 Horsens<br />
            Floor 3, Room E303 or F305<br />
            Aleksandar, Oleg, Valentin<br />
            <abbr title="Phone">P:</abbr>
            <a href="#" data-toggle="tooltip" data-placement="right" title="No joke, this is papa Valko's phone :)">+45 91 23 45 67</a>
        </address>
    </div>
    <div class="col-md-4">
        <img height="104" width="314" src="~/Images/logo.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-12 align-self-md-center">
        <img src="~/Images/VIA.jpg" width="1100" height="630"/>
    </div>
</div>
<br />

<address>
    <strong>Support:</strong>   <a href="mailto:254162@via.dk">123456@via.dk</a><br />
</address>